<div style="background-image: url("https://res.cloudinary.com/dg0v67kcj/image/upload/v1588197828/farmstandbackground2_wmmxi7.png")">
    <h1> <%=user.firstName %> visiting <%=userProfile.firstName%>'s Page </h1>
    
    
    <div class="row">
        <div class="col s2"></div>
            <div class="col s8" id="postBoxy">
                <div class="col s4">
                    <img class="circle" src="<%=userProfile.pic%" alt="profile pic">
                </div>
                <div class="col s4">
                    <p>Username: <%= userProfile.displayName%></p>
                    <p>First Name: <%= userProfile.firstName%> </p>
                    <p>Last Name: <%=userProfile.lastName%></p>
                    <p>Birthday: <%= moment(userProfile.birthday).format('dddd MMMM Do[,] YYYY') %></p>
                    <p> User Bio: <%= userProfile.bio %> </p>
                </div>
            </div>
        <div class="col s2"></div>
</div>