
<h1><%= user.firstName %>'s Profile</h1>
<div class="row">
<div class="col s2"></div>
    <div class="col s8" id="postBoxy">
            <div class="col s12 brown z-depth-2">
                <div class="col s4" id="imgSpace">
                    <img class="circle z-depth-4" src="<%=user.pic%>" alt="profile pic">
                </div>
                <div class="col s4">
                    <p>Username: <%= user.displayName%></p>
                    <p>First Name: <%= user.firstName%> </p>
                    <p>Last Name: <%=user.lastName%></p>
                    <p>Birthday: <%= moment(user.birthday).format('dddd MMMM Do[,] YYYY') %></p>
                    <p> User Bio: <%= user.bio %> </p>
                </div>
            </div>
    </div>
</div>
<div class="col s2"></div>
</div>
