<% let fruitUrl = "https://res.cloudinary.com/dg0v67kcj/image/upload/v1588296258/fruit1_d5leh5.png" %>
<% let veggieUrl = "https://res.cloudinary.com/dg0v67kcj/image/upload/v1588296258/veggie2_hg0svx.png" %>
<% let dairyUrl = "https://res.cloudinary.com/dg0v67kcj/image/upload/v1588296258/dairy1_sag4ir.png" %>
<% let freeUrl = "https://res.cloudinary.com/dg0v67kcj/image/upload/v1588297796/free_vatkqr.png" %>
<% let cashUrl = "https://res.cloudinary.com/dg0v67kcj/image/upload/v1588297796/cash_injakv.png" %>
<div class="header">
    <h1>NEIGHBORHOOD FARMSTAND</h1>
</div>
<div class="row">
    <div class="col s1"></div>
    <div class="col s5 z-depth-2" id="postBoxy">
        <div class="brown darken-2 z-depth-2">
                <h3>What is Neighborhood Farmstand?</h3>
                <p class="flow-text" id="textTop"> Gardening no matter where you exist is alive. From neighborhoods with shared gardens to a tomato plant on someone's desk.
                    All too often however, aside from the the farmers market there isn't easy access to all the great produce.<br>
                    <hr>
                    Neighborhood Farmstand is here to connect people who have grown too much, with those who need it.<br>
                </p>
        </div>
    </div>
    <div class="col s5 z-depth-2" id="postBoxy">
        <div class="brown darken-2 z-depth-2">
                <h3>How does the Farmstand Work?</h3>
                <p class="flow-text" id="textTop"> Getting started is as simple as searching your zip code in the search bar below! 
                    It will collect all the posts in area surrounding that zip for you to browse.
                    Highly encouraged to login or signup for further access to communicate with those who posted offer.
                    <hr>
                    Do not worry if you don't have a garden or anything to list! This is a place welcome to everyone!
                </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4 yellow darken-1 z-depth-2">
            <form method="GET" action="/search">
                <label for="zip" name="Search By Neighborhood">search by zipcode</label>
                <input type="text" name="zip">
                <button class="btn small brown" type="submit">submit</button>
            </form>
        </div>
    </div>
</div>

<h1>Latest Offers</h1>
<div  class="container" id="postContainer">
    <% post.forEach(function(p) { %>
        <% var imgUrl %>
        <% var imgUrl2 %>
        <% if (p.offerType == "fruit") { %>
            <% imgUrl = fruitUrl; %>
        <% } else if (p.offerType == "veggies") {%>
                 <% imgUrl = veggieUrl; %>
        <% } else if (p.offerType == "dairy") {%>
                 <% imgUrl = dairyUrl; %>
        <% } %>
        <% if (p.tradeType == "fruit") { %>
            <% imgUrl2 = fruitUrl; %>
        <% } else if (p.tradeType == "veggies") {%>
                 <% imgUrl2 = veggieUrl; %>
        <% } else if (p.tradeType == "dairy") {%>
                 <% imgUrl2 = dairyUrl; %>
        <% } else if (p.tradeType == "free") {%>
                <% imgUrl2 = freeUrl; %>
        <% } else if (p.tradeType == "money") {%>
                <% imgUrl2 = cashUrl; %>
        <% } %>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6 z-depth-2" id="postBoxy" >
                <div class="card brown darken-2">
                    <p> Posted: <%=p.createdAt%></p>
                    <div>
                      <img class="activator circle" src="<%= p.user.pic %>" id="postImg">
                      <p> User: <%=p.user.displayName%></p>
                    </div>
                    <div class="activator">
                      <span class="activator row">
                      <div class="activator col s6">
                        <img class="activator" id="postImg" src="<%=imgUrl%>">
                        <p>I have <%=p.offerType%> specifically <%=p.offer%>!</p>
                      </div>
                      <div class="col s6">
                          <img class="activator" id="postImg" src="<%=imgUrl2%>">
                            <% if (p.tradeType == "free"){ %>
                                <p>I want to give them away!</p>
                            <% } else if (p.tradeType == "money") { %>
                                <p>I would like a little compensation.</p>
                            <% } else { %>
                                <p>Looking to trade for some <%=p.tradeType%> especially <%=p.trade%></p>
                            <% } %>
                      </div>
                      <div class="col s12">
                        <p>Details: <%=p.postContent%></p>
                      </div>
                      <div class="col s12">
                        <button class="activator btn brown">Click Here for Contact Information</button>
                      </div>
                    </div>
                    <div class="card-reveal brown lighten-2">
                      <span class="card-title grey-text text-darken-4">Contact Information<i class="material-icons right">close</i></span>
                        <% if (user) { %>
                            <p>Email the user for more details about the trade!</p>
                            <p>Email: <%=p.user.email%></p>
                        <% } else {%>
                            <p>You need to be logged in to see personal details.</p>
                            <p>Please login or signup if you're new</p>
                            <a class="btn brown" href="/auth/login">Login</a>
                            <a class="btn brown" href="/auth/signup">Signup</a>
                        <% } %>
                    </div>
                  </div>
            </div>
            <div class="col s3"></div>
        </div>
        <% })%>
</div>
