<% let long2 = (match.center[0]) %>
<% let lat2 = (match.center[1]) %>
<% let fruitUrl = "https://res.cloudinary.com/dg0v67kcj/image/upload/v1588296258/fruit1_d5leh5.png" %>
<% let veggieUrl = "https://res.cloudinary.com/dg0v67kcj/image/upload/v1588296258/veggie2_hg0svx.png" %>
<% let dairyUrl = "https://res.cloudinary.com/dg0v67kcj/image/upload/v1588296258/dairy1_sag4ir.png" %>
<% let freeUrl = "https://res.cloudinary.com/dg0v67kcj/image/upload/v1588297796/free_vatkqr.png" %>
<% let cashUrl = "https://res.cloudinary.com/dg0v67kcj/image/upload/v1588297796/cash_injakv.png" %>
<% let newZip = [] %>

<% for(let i = 0; i < zipRes.zip_codes.length; i++) { %>
 <%  newZip.push(parseInt(zipRes.zip_codes[i])) %>
<% } %> 

<div class="row">
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4 yellow darken-1 z-depth-2">
            <form method="GET" action="/search">
                <input type="text" name="zip" class="">
                <label for="zip" name="Search By Neighborhood">search by neighborhood</label>
                <button type="submit">submit</button>
            </form>
        </div>
    </div>
</div>

    <p hidden id="long" > <%= match.center[0] %></p>
    <p hidden id="lat" > <%= match.center[1] %></p>
  

<div class="col s12" id="mappy">
        <div class="z-depth-4" id="map">
            <script>
                let lat = document.getElementById('lat').textContent
                let long = document.getElementById('long').textContent
                mapboxgl.accessToken = '<%= mapkey %>';

                var map = new mapboxgl.Map({
                    container: 'map', // container id
                    style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
                    center: [long, lat], // starting position [lng, lat]
                    zoom: 12 // starting zoom
                });
                let geojson = {
                    type: 'FeatureCollection',
                    features: [{
                        type: 'Feature',
                        geometry: {
                            type: 'Point',
                            coordinates: [long, lat]
                        },
                    properties: {
                        title: 'Mapbox',
                        description: 'map'
                    }
                    }]
                };
                geojson.features.forEach((marker) => {
                    let elem = document.createElement('div')
                    elem.className = 'marker'
                    new mapboxgl.Marker(elem)
                    .setLngLat(marker.geometry.coordinates)
                    .addTo(map)
                })
            </script>
        </div>
</div>



<div class="container" id="postContainer">
<% let postCount = false %>
    <% for (let i = 0; i < post.length; i++) { %>
        <% if(newZip.includes(post[i].zip)) { %>
          <%  postCount = true; %>
        <% } %>
    <% } %>

<% if(postCount === false) { %>
    <h1>NO POSTS AVAILABLE</h1>
<% } %>

<% if(postCount === true){ %>
    <% var imgUrl %>
    <% var imgUrl2 %>
    <% for (let i = 0; i < post.length; i++) { %>
        <% if(newZip.includes(post[i].zip)) { %>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6 z-depth-2" id="postBoxy">
                <div>
                    <img src="https://placekitten.com/150/150">
                </div>
                <div class="col s12 white-text">
                    <% if (post[i].offerType == "fruit") { %>
                        <% imgUrl = fruitUrl; %>
                    <% } else if (post[i].offerType == "veggies") {%>
                             <% imgUrl = veggieUrl; %>
                    <% } else if (post[i].offerType == "dairy") {%>
                             <% imgUrl = dairyUrl; %>
                    <% } %>
                    <% if (post[i].tradeType == "fruit") { %>
                        <% imgUrl2 = fruitUrl; %>
                    <% } else if (post[i].tradeType == "veggies") {%>
                             <% imgUrl2 = veggieUrl; %>
                    <% } else if (post[i].tradeType == "dairy") {%>
                             <% imgUrl2 = dairyUrl; %>
                    <% } else if (post[i].tradeType == "free") {%>
                            <% imgUrl2 = freeUrl; %>
                    <% } else if (post[i].tradeType == "cash") {%>
                            <% imgUrl2 = cashUrl; %>
                    <% } %>
                    <div class="row">
                        <div class="col s6">
                            <img id="postImg" src="<%=imgUrl%>">
                            <p>I have <%=post[i].offerType%> specifically <%=post[i].offer%>!</p>
                        </div>
                        <div class="col s6">
                            <img id="postImg" src="<%=imgUrl2%>">
                            <% if (post[i].tradeType == "free"){ %>
                                <p>I'm want to give them away!</p>
                            <% } else { %>
                                <p>Looking to trade for some <%=post[i].tradeType%> especially <%=post[i].trade%></p>
                            <% } %>
                        </div>
                    </div>
                    <p>Description: <%=post[i].postContent%></p>
                </div>
            </div>
            <div class="col s3"></div>
        </div>
        <% } %>
    <% } %>
<% }%>